<HTML>
<HEAD>
<TITLE>User Management</TITLE>
</HEAD>

<BODY>
<div id="image" style="background: url(../theme.jpg) no-repeat; width: 100%; height: 100%; background-size: 100%;">
<br><br><br><br><br><br><br><br>	
<H1><CENTER>User Management</CENTER></H1>
<CENTER>
<P><CENTER>Welcome to User Management System!</P>
<BR>
<FORM ACTION="addPerson.html" METHOD="post" >
<INPUT TYPE="submit" NAME="newUser" VALUE="Add a Person" style= "width: 300; height: 30">
</FORM>
<form action="../controller/newPerson.jsp">
<center><input type="submit" name="newuserskip" value="Add a User" style= "width: 300; height: 30">
</center>
</form>
<FORM ACTION="chooseUpdateUser.html" METHOD="post" >
<INPUT TYPE="submit" NAME="update" VALUE="Update Users Infomation" style= "width: 300; height: 30">
</FORM>
<br><br><br>
<FORM ACTION="administrator.html" METHOD="post" >
<INPUT TYPE="submit" NAME="ad_back" VALUE="Back" style= "width: 150; height: 30">
</FORM>
<br><br>
<a href='userDocumentation.html' target='_blank'>Help</a>
</div>
</CENTER>
</BODY>
</HTML>
